.img { filter: grayscale(100%); }

:root {
    --black_pixel_2x2    : url("data:image/gif;base64,R0lGODlhAgACAIABADMzMxERESH5BAEKAAEALAAAAAACAAIAAAICRF4AOw==");
    --black_pixel_3x3    : url("data:image/gif;base64,R0lGODlhAwADAIABADMzMxERESH5BAEKAAEALAAAAAADAAMAAAIEjAMXBQA7");
    --black_pixel_5x5    : url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIFjI8GyVEAOw==");
    --black_pixel_7x7    : url("data:image/gif;base64,R0lGODlhBwAHAIABADMzMxERESH5BAEKAAEALAAAAAAHAAcAAAIHjI+pB+tfAAA7");
    --black_plus_5x5     : url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIHjB9wwItXAAA7");
    --black_plus_7x7     : url("data:image/gif;base64,R0lGODlhBwAHAIABADMzMxERESH5BAEKAAEALAAAAAAHAAcAAAILjI+Apgf/0gptmgIAOw==");
    --black_stripes_thin : url("data:image/gif;base64,R0lGODlhAwADAIABADMzMxERESH5BAEKAAEALAAAAAADAAMAAAIETHAZBQA7");
    --black_stripes_thick: url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIIRAKGuZbKUAEAOw==");
    --gray_pixel_2x2     : url("data:image/gif;base64,R0lGODlhAgACAIABAH9/fxERESH5BAEKAAEALAAAAAACAAIAAAICRF4AOw==");
    --gray_pixel_3x3     : url("data:image/gif;base64,R0lGODlhAwADAIABAH9/fxERESH5BAEKAAEALAAAAAADAAMAAAIEjAMXBQA7");
    --gray_pixel_5x5     : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIFjI8GyVEAOw==");
    --gray_pixel_7x7     : url("data:image/gif;base64,R0lGODlhBwAHAIABAH9/fxERESH5BAEKAAEALAAAAAAHAAcAAAIHjI+pB+tfAAA7");
    --gray_plus_5x5      : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIHjB9wwItXAAA7");
    --gray_plus_7x7      : url("data:image/gif;base64,R0lGODlhBwAHAIABAH9/fxERESH5BAEKAAEALAAAAAAHAAcAAAILjI+Apgf/0gptmgIAOw==");
    --gray_stripes_thin  : url("data:image/gif;base64,R0lGODlhAwADAIABAH9/fxERESH5BAEKAAEALAAAAAADAAMAAAIETHAZBQA7");
    --gray_stripes_thick : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIIRAKGuZbKUAEAOw==");
}

@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Light.ttf);           font-weight: 300; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-LightItalic.ttf);     font-weight: 300; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Regular.ttf);         font-weight: 400; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Italic.ttf);          font-weight: 400; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Medium.ttf);          font-weight: 500; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-MediumItalic.ttf);    font-weight: 500; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-SemiBold.ttf);        font-weight: 600; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);  font-weight: 600; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Bold.ttf);            font-weight: 700; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);      font-weight: 700; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);       font-weight: 800; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf); font-weight: 800; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Black.ttf);           font-weight: 900; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-BlackItalic.ttf);     font-weight: 900; font-style: italic; }

html
{
    background : #7f7f7f;
    font-size  : 20px;
    font-family: Montserrat;
    margin     : 0;
    padding    : 0;
}
body
{
    background: #f7f7f7;
    height    : 100%;
    margin    : 0 auto;
    padding   : 0;
    width     : 1200px;
}

h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }


header
{
    width: 100%;
}
header > .banner
{
    background-image: var(--gray_pixel_3x3);
    border    : 1px solid #333;
    border-top: none;
    margin    : 0 auto;
    padding   : 30px 30px 30px;
    text-align: center;
    width     : 50%;
}
header > .banner > h1
{
    font-size  : 2em;
    font-weight: 800;
    margin     : 0;
    padding    : 0;
}
.logo-banner
{
    background-image: url("/media/images/logo-banner.png");
    width           : 100px;
    height          : 50px;
}

#response
{
    background : brown;
    border     : 1px solid #333;
    color      : white;
    max-width  : calc(50%);
    min-height : 8em;   
    padding    : .5em;
    width      : calc(50%);
}
