.img { filter: grayscale(100%); }

:root {
    --black-pixel-2x2     : url("data:image/gif;base64,R0lGODlhAgACAIABADMzMxERESH5BAEKAAEALAAAAAACAAIAAAICRF4AOw==");
    --black-pixel-3x3     : url("data:image/gif;base64,R0lGODlhAwADAIABADMzMxERESH5BAEKAAEALAAAAAADAAMAAAIEjAMXBQA7");
    --black-pixel-5x5     : url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIFjI8GyVEAOw==");
    --black-pixel-7x7     : url("data:image/gif;base64,R0lGODlhBwAHAIABADMzMxERESH5BAEKAAEALAAAAAAHAAcAAAIHjI+pB+tfAAA7");
    --black-plus-5x5      : url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIHjB9wwItXAAA7");
    --black-plus-7x7      : url("data:image/gif;base64,R0lGODlhBwAHAIABADMzMxERESH5BAEKAAEALAAAAAAHAAcAAAILjI+Apgf/0gptmgIAOw==");
    --black-stripes-medium: url("data:image/gif;base64,R0lGODlhBAAEAIABADMzMxERESH5BAEKAAEALAAAAAAEAAQAAAIGTACXaHkFADs=");
    --black-stripes-thin  : url("data:image/gif;base64,R0lGODlhAwADAIABADMzMxERESH5BAEKAAEALAAAAAADAAMAAAIETHAZBQA7");
    --black-stripes-thick : url("data:image/gif;base64,R0lGODlhBQAFAIABADMzMxERESH5BAEKAAEALAAAAAAFAAUAAAIIRAKGuZbKUAEAOw==");
    --gray-pixel-2x2      : url("data:image/gif;base64,R0lGODlhAgACAIABAH9/fxERESH5BAEKAAEALAAAAAACAAIAAAICRF4AOw==");
    --gray-pixel-3x3      : url("data:image/gif;base64,R0lGODlhAwADAIABAH9/fxERESH5BAEKAAEALAAAAAADAAMAAAIEjAMXBQA7");
    --gray-pixel-5x5      : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIFjI8GyVEAOw==");
    --gray-pixel-7x7      : url("data:image/gif;base64,R0lGODlhBwAHAIABAH9/fxERESH5BAEKAAEALAAAAAAHAAcAAAIHjI+pB+tfAAA7");
    --gray-plus-5x5       : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIHjB9wwItXAAA7");
    --gray-plus-7x7       : url("data:image/gif;base64,R0lGODlhBwAHAIABAH9/fxERESH5BAEKAAEALAAAAAAHAAcAAAILjI+Apgf/0gptmgIAOw==");
    --gray-stripes-medium : url("data:image/gif;base64,R0lGODlhBAAEAIABAL+/vxERESH5BAEKAAEALAAAAAAEAAQAAAIGTACXaHkFADs=");
    --gray-stripes-thin   : url("data:image/gif;base64,R0lGODlhAwADAIABAH9/fxERESH5BAEKAAEALAAAAAADAAMAAAIETHAZBQA7");
    --gray-stripes-thick  : url("data:image/gif;base64,R0lGODlhBQAFAIABAH9/fxERESH5BAEKAAEALAAAAAAFAAUAAAIIRAKGuZbKUAEAOw==");
}

@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Light.ttf);           font-weight: 300; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-LightItalic.ttf);     font-weight: 300; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Regular.ttf);         font-weight: 400; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Italic.ttf);          font-weight: 400; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Medium.ttf);          font-weight: 500; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-MediumItalic.ttf);    font-weight: 500; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-SemiBold.ttf);        font-weight: 600; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);  font-weight: 600; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Bold.ttf);            font-weight: 700; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);      font-weight: 700; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);       font-weight: 800; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf); font-weight: 800; font-style: italic; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-Black.ttf);           font-weight: 900; font-style: normal; }
@font-face { font-family: Montserrat; src: url(/media/fonts/Montserrat/static/Montserrat-BlackItalic.ttf);     font-weight: 900; font-style: italic; }

figure img    { max-width: 100%;  }
figure iframe { max-width: 100%;  }
p             { color      : #111;
                line-height: 1.4; }
strong        { font-weight: 600; }

/* "\26e8" "\26bf" "\1f5dd" "\2618" */

@counter-style adventure { system: cyclic; suffix: " "; symbols: "\1f3de" "\1f3cd" "\263d" "\263c" "\26f1" "\26f4" "\2708" }
@counter-style chess     { system: cyclic; suffix: " "; symbols: "\2654" "\2655" "\2656" "\2657" "\2658" "\2659" "\265a" "\265b" "\265c" "\265d" "\265e" "\265f" }
@counter-style lazy      { system: cyclic; suffix: " "; symbols: "\26f5" "\1f4a4" "\1f60e" "\1f378" "\1f334""\1f34d" "\1f965"  "\1f31e"  }
@counter-style lucky     { system: cyclic; suffix: " "; symbols: "\1f308" "\1f340" "\1f984" "\2728" "\1f40b" "\1f4ab" "\1f42c" "\1f31e" "\1f344" "\1f432" }
@counter-style sugar     { system: cyclic; suffix: " "; symbols: "\1f369" "\1f36a" "\1f36b" "\1f375" "\2615" "\1f95e" "\1f96a" "\1f95b" "\1f9c0" "\1f950" "\1f953" "\1f995" "\1f996" "\1f366"}

/* add card decks to chess */

nav ul             { font-size      : 16px;   }
nav.magento     ul { list-style-type: chess;  }
nav.wordpress   ul { list-style-type: chess;  }
nav.html-css-js ul { list-style-type: chess;  }
nav.gamedev     ul { list-style-type: chess;  }


html { background : #5f5f5f;
       background-image: url(/media/images/small/gray-pixel-3x3.gif);
       color      : #5f5f5f;
       font-size  : 18px;
       font-family: Montserrat;
       font-weight: 400;
       margin     : 0;
       padding    : 0; }
body { background    : #f7f7f7;
       display       : flex;
       flex-direction: column;
       min-height    : 100vh;
       margin        : 0 auto;
       padding       : 0; }

@media screen and (min-width: 768px ) { body { width: 100vw;  }  }
@media screen and (min-width: 1024px) { body { width: 100vw;  } }
@media screen and (min-width: 1280px) { body { width: 1240px; } }
@media screen and (min-width: 1360px) { body { width: 100vw;  } }


.page-header            { height          : 8em;
                          text-transform  : uppercase;
                          width           : 100%; }
.page-header .banner    { background-image: var(--gray-pixel-3x3);
                          border          : 1px solid #333;
                          border-top      : none;
                          margin          : 0 auto;
                          padding         : 25px 30px 30px;
                          text-align      : center;
                          width           : 50%; }
.page-header .banner h1 { font-size       : 2em;
                          font-weight     : 800;
                          margin          : 0;
                          padding         : 0; }

.page-footer { background-image: var(--gray-stripes-medium);
                border          : 1px solid #333;
                min-height      : 8em;
                margin          : .5em;
                padding         : .5em; }

.page-main           { border       : 1px solid #333;
                       display       : flex;
                       height        : calc(100% - 10em - 10em);
                       flex-direction: column;
                       margin        : .5em;
                       padding       : .5em 1em; }


/*
 * 
 * Index Page
 * 
 */
.articles     { display        : flex;
                flex-flow      : row wrap;
                justify-content: space-around; }
.articles nav { flex           : 1;
                padding        : 0 1em; }

.articles nav li small         { font-weight: bold; }
.articles nav li small::before { content    : "("; }
.articles nav li small::after  { content    : ")"; }

/*
 * 
 * Games Page
 * 
 */
.news        { margin        : 0 0 1em;  }
.news header { border-bottom : 1px solid #bfbfbf; }

.news article              { display         : flex;
                             flex-direction  : row;
                             flex-wrap       : wrap; }
.news article > div        { flex            : 51%;
                             padding-right   : 3%; }
.news article header       { border-bottom   : 1px solid #bfbfbf;
                             flex            : 100%;
                             height          : 4.5em;
                             margin          : 1em 0;  }
.news article header h1    { font-size       : 1.33em;
                             margin          : 0; }
.news article p            { font-size       : .9em;   }
.news article aside        { flex            : 46%;    }
.news article aside img    { background-image: var(--gray-pixel-7x7);
                             height          : auto;
                             width           : 100%; }

.news article aside div          { height          : auto;
                                   margin          : 0 0 .25em 0;
                                   position        : relative;
                                   width           : 100%; }
.news article aside div > img    { height          : auto;
                                   width           : 100%; }
.news article aside div > iframe { height          : 100%;
                                   left            : 0;
                                   margin          : 0; 
                                   position        : absolute;
                                   top             : 0;
                                   width           : 100%; }
